body {
  border-style: none; }

.jumbotron {
  background-color: #34495e;
  color: black;
  border-radius: 0px; }

.opciones {
  margin: 3%;
  padding: 0px; }

.card-hoteles {
  margin: 3%;
  padding: 0px; }

.btn-reserva {
  width: 100%; }

footer {
  background-color: #34495e;
  margin-bottom: 0px;
  margin: 0px;
  padding: 3.5%;
  color: white; }

a {
  color: white; }

.contacto {
  align-items: flex-end; }

.info {
  align-content: center; }

.redes {
  align-items: flex-start; }

.footer-address-icon {
  margin: 0px;
  padding: 10px; }

.oi-plus {
  margin: 0px;
  padding: 5px; }

.nav-pills a {
  color: black;
  margin: 1px;
  padding: 0px; }

.btn-collapse {
  margin-left: 30%; }

.row-btn {
  margin-top: 5%; }

h5 {
  cursor: pointer; }

#carouselControls {
  margin: 3% 0 3% 0; }

.breadcrumb {
  background-color: #f08929; }

.btn-lorem {
  background-color: #37afdb; }
