$gris: #34495e;
$naranja: #f08929;
$azul: #37afdb;

@mixin margenes ($margin, $padding){
	margin: $margin;
	padding: $padding;
}

body{
	border-style: none;
}
.jumbotron{
	background-color: $gris;
	color: black;
	border-radius: 0px;
}

.opciones{
 @include margenes (3%, 0px);

}

.card-hoteles{
	@include margenes (3%, 0px);
}

.btn-reserva{
	width: 100%;
}

footer{
	background-color: $gris;
	margin-bottom: 0px;
	@include margenes (0px, 3.5%);
	color: white;
}

a {
  color: white;
}

.contacto{
	align-items: flex-end;
}

.info{
	align-content: center;
}

.redes{
	align-items: flex-start;
}

.footer-address-icon{
	@include margenes (0px, 10px);

}

.oi-plus{
	@include margenes (0px, 5px);
}

.nav-pills a{
	color: black;
	@include margenes (1px, 0px);
}

.btn-collapse{
	margin-left: 30%
}

.row-btn{
	margin-top: 5%;
}

h5{
	cursor: pointer;
}

#carouselControls{
	margin:3% 0 3% 0;
}

.breadcrumb{
  background-color: $naranja;
}

.btn-lorem{
	background-color: $azul;
}