body{
	border-style: none;
}
.jumbotron{
	background-color: #34495e;
	color: black;
	border-radius: 0px;
}

.opciones{
	margin: 3%;
}

.card-hoteles{
	margin: 5%;
}

.btn-reserva{
	width: 100%;
}

footer{
	background-color: #34495e;
	margin-bottom: 0px;
	padding: 3.5%;
	color: white;
}

a {
  color: white;
}

.contacto{
	align-items: flex-end;
}

.info{
	align-content: center;
}

.redes{
	align-items: flex-start;
}

.footer-address-icon{
	padding: 10px;

}

.oi-plus{
	padding: 5px;
}

.nav-pills a{
	color: black;
	background-color: #e9ecef;
	margin: 1px;
}

.btn-collapse{
	margin-left: 30%
}

.row-btn{
	margin-top: 5%;
}

h5{
	cursor: pointer;
}

#carouselControls{
	margin:3% 0 3% 0;
}